@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    padding: 5rem 0;
    position: relative;

  
    h1{
        color: yellow;
        font-size: 2rem;
    }
    
@include m.telefono { 
    h1{
        color: red;
    }
 }

 @include m.tablet { 
     h1{
         color: blue;
         font-size: 3rem;
         background-color: white;
     }
  }

  @include m.desktop { 
      h1{
          color: yellowgreen;
      }
      
   }
   &::before{
        content: '';
        background-color: v.$negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .5;
   }

    .contenido-header{
        position: relative;
    }
}


//Header de cada página
.header-inicio{
    background-image: url(../img/header_inicio.jpg);
}