@use 'base/variables' as v;
@use 'base/mixins' as m;

.proceso-cafe{
     @include m.tablet { 
        display: flex;
        gap: v.$separacion;
     }

     .imagen,
     .texto{
         flex: 1;
     }

.imagen{
   
    img{
        margin-bottom: 5rem;
    }
}
.texto{
    margin-top: 1rem;
    h3{
       margin-bottom: 0;
       text-align: left; 
       color: v.$primario;

        &::after{
            content: " ";
            display: block;
            width: 50%;
            height: 5px;
            background-color: v.$secundario;
        }
       
    }
}

}